CompileFlags:
    Add: [-Wall, -Wextra, -pedantic, -std=c23, -Wno-char-subscripts, -Wno-gnu-statement-expression-from-macro-expansion]
    Remove: [-Wempty-translation-unit]

---

If:
  PathMatch: .*\.h

CompileFlags:
  Add: [-xc-header]

---

If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-xc]
